:root {
    --dark-color:#212121;
    --hover-color:#2196F3;
    --grey-color: #757575;
    --white-color:#fff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-color);
    
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
 }

ul {
    margin: 0;
    padding-left: 0;
}


.li {
    list-style: none;
    text-align: center;
    
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.hover:hover,
.hover:focus {
    color: var(--hover-color);

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.header {
    padding-top: 32px;
}

.header-list {
    display: flex;
    align-items: center;
    }

.header-list .navigation-list, .header-list .contact-list {
    display: flex;
    align-items: center;
} 
/* Menu navigation */
.site-logo-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--dark-color);
    margin-right: 93px;
   
           
}

.site-logo-blue {
    color: var(--hover-color);
}

.link {
    margin-right: 0;
    margin-left: 50px;
}

.main-box {

}

.navigation-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--dark-color);
    margin-right: 50px;
    
        
}

.navigation-item:visited, .navigation-item:focus {
    color: var(--title-color);
}
.navigation-list , .navigation-list:visited {
    color: var(--dark-color);
}

.navigation-item:hover, .navigation-item:focus {
    color: var(--hover-color);
    }

.contact-list {
    display: inline;
    margin-left: auto;
    margin-right: 0;
    
   
}
.contact-list .contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-color)
}

.contact-item {
    
}

.contact-item:hover, .contact-item:focus {
    color: var(--hover-color);
}

.contact-item > .contact-list {
    text-decoration: none;
    
}

.main-title {
    background-color: #2F303A;
    text-align: center;
}

.main-title-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);

    width: 696px;
    height: 120px;
    margin: auto;
    
}

    /* Filters*/

.filters-item {
   text-align: center;
   }

.filters-item-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    cursor: pointer;
    color: var(--dark-color);
    background-color: #F5F4FA;
}

.filters-item-btn:hover,
.filters-item-btn:focus {
    background-color: var(--hover-color);
    color: var(--white-color);
}

.order-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background-color: var(--hover-color);
    border: none;
    cursor: pointer;

    width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

/*Features*/

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: var(--dark-color);
}

.features-after-title {
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        text-align: left;
        color: var(--grey-color);
}

/*Promo*/

.promo-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}

/*Team*/


.team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    
}

.team-item {
    text-align: center;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}

.team-item-after-title {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

/*Sample work*/

.sample-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--dark-color);
}

.simple-after-title {
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--grey-color);
}


/*Footer*/

.footer {
    background-color:rgba(47, 48, 58, 1);
    
}

.site-logo-footer {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--white-color);
    text-decoration: none
}

.footer-contacts-list {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    
}

.footer-contacts-item {
    text-decoration: none
    
}

.footer-contacts-item {
    color: var(--white-color);
}

.grey {
    color: rgba(255, 255, 255, 0.6);
    ;
}

.footer-contacts-item:hover, 
.footer-contacts-item:focus {
    color: var(--hover-color);
}

